---
import Layout from "@/layouts/Layout.astro";
import AboutComponent from "@/components/About.astro";
---

<Layout title="" description="">
  <main>
    <AboutComponent />
  </main>
</Layout>

<style>
  main {
    padding-block: 10rem;
  }
</style>
