---
import { technologies } from "@/data/technologies.json";
import TechPill from "@/components/atoms/TechPill.astro";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<header>
  <p>
    Estas son las herramientas de desarrollo web que mas frecuento en mis
    proyectos:
  </p>
</header>
<div class="pills-wrapper">
  {
    technologies.map((project) => (
      <TechPill {...project} description={project.description[lang]} />
    ))
  }
</div>

<style>
  .pills-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
