---
import { technologies } from "@/data/technologies.json";
import TechPill from "@/components/atoms/TechPill.astro";
import Section from "@/layouts/Section.astro";
import { separateLastParagraph } from "@/js/utils";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
const mdFiles = await Astro.glob("/src/i18n/hardSkills-*.md");
const [mdContent] = mdFiles.filter((item) => item.frontmatter.lang === lang);

const [sectionDescription, sectionIntro] = separateLastParagraph(
  mdContent.compiledContent(),
  "<p>"
);
---

<Section
  icon="puzzle"
  customClass="techs-wrapper"
  title={mdContent.frontmatter.title}
>
  <Fragment set:html={sectionDescription} slot={"section-description"} />
  <Fragment set:html={sectionIntro} slot={"section-intro"} />

  <div class="pills-wrapper" slot="main-content">
    {
      technologies.map((project) => (
        <TechPill {...project} description={project.description[lang]} />
      ))
    }
  </div>
</Section>
<style>
  header {
    display: grid;
    margin-block: 1rem;
    gap: 1rem;

    strong {
      color: var(--blue-300);
      mix-blend-mode: luminosity;
    }
  }
  .pills-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>
