---
import Layout from "@/layouts/Layout.astro";
import AboutComponent from "@/components/templates/About.astro";
---

<Layout title="" description="">
  <main>
    <AboutComponent />
  </main>
</Layout>

<style>
  main {
    padding: var(--fs-m);
  }
  @media screen and (width >= 768px) {
    main {
      padding: var(--fs-xl);
      padding-top: 4rem;
    }
  }

  @media screen and (width >= 1024px) {
    main {
      padding-block: 5rem;
    }
  }
  @media screen and (width >= 1440px) {
    main {
      padding-block: 10rem;
    }
  }
</style>
