---
import Layout from "../layouts/Layout.astro";

import Hero from "@/components/molecules/Hero.astro";
import Section from "@/layouts/Section.astro";
import SoftSkills from "@/components/templates/SoftSkills.astro";
import HardSkills from "@/components/templates/HardSkills.astro";
import Projects from "@/components/organisms/Projects.astro";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<Layout>
  <main>
    <Hero lang={lang} />
    <Section
      title="Proyectos"
      icon="briefcase"
      customClass="projects-wrapper"
      identifier="projects"
    >
      <Projects lang={lang} />
    </Section>
    <Section
      title="Habilidades Duras"
      icon="puzzle"
      customClass="techs-wrapper"
    >
      <HardSkills lang={lang} />
    </Section>
    <Section icon="windsock" title="Habilidades Blandas" identifier="skills">
      <SoftSkills lang={lang} />
    </Section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 50px;
    place-items: center;
  }

  @media screen and (min-width: 768px) {
    main {
      padding-top: 100px;
    }
  }
</style>
