---
import Layout from '../layouts/Layout.astro';
import Parallax from '@/components/Parallax.astro';
import Hero from '@/components/Hero.astro';
import Projects from '@/components/Projects.astro';

---

<Layout title="CaperAsDev">
	<main>
		<!-- <Parallax /> -->
		 <Hero />
		 <Projects />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: fit-content;
		display: grid;
		gap: 50px;
		place-items: center;
		padding-top: 50px;
	}

	@media screen and (min-width: 650px) {
		main{
			padding-top: 100px;
		}
	}
</style>
