<div class="background"></div>

<style>
  @property --hue {
    syntax: "<angle>";
    initial-value: 170deg;
    inherits: false;
  }
  @property --chroma {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
  }

  @property --lightness {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .background {
    --clr: oklch(
      calc(0.3 + var(--lightness)) calc(0.05 + var(--chroma)) var(--hue)
    );
    --clr2: oklch(
      calc(0.5 - var(--lightness)) calc(0.1 - var(--chroma))
        calc(var(--hue) + 90deg)
    );
    position: fixed;
    width: 100%;
    height: 110vh;
    inset: 0;
    top: 0;
    z-index: -10;
    background-image: linear-gradient(var(--angle), var(--clr), var(--clr2));
    animation:
      clr-chg infinite alternate 9s linear,
      angle-chg infinite alternate 23s linear,
      chroma-chg infinite alternate 5s linear,
      lightness-chg infinite alternate 7s ease-out;
  }

  @keyframes clr-chg {
    from {
      --hue: 170deg;
    }
    to {
      --hue: 300deg;
    }
  }
  @keyframes angle-chg {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  @keyframes chroma-chg {
    from {
      --chroma: 0;
    }
    to {
      --chroma: 0.05;
    }
  }
  @keyframes lightness-chg {
    from {
      --lightness: 0;
    }
    to {
      --lightness: 0.2;
    }
  }
</style>
