---
import NavItem from "@/components/DesktopNavItem.astro";
import Popover from "@/components/Popover.astro";
import Linktree from "@/components/Linktree.astro";
---

<nav>
  <ul>
    <NavItem title="Proyectos" link="/#projects" />
    <NavItem title="Blog" link="/bubbles" />
    <NavItem title="Sobre mi" link="/#me" />
    <Popover title="Contacto" targetID="linktree">
      <Linktree />
    </Popover>
  </ul>
</nav>

<style>
  nav {
    display: none;
    width: clamp(320px, 100%, 1024px);
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
  }
  @media screen and (min-width: 768px) {
    nav {
      display: block;
    }
  }
</style>

<script>
  import { currentPage } from "@/js/utils";

  document.addEventListener("DOMContentLoaded", () => {
    const anchors: NodeListOf<HTMLAnchorElement> =
      document.querySelectorAll("nav a");

    currentPage({ anchors });

    window.addEventListener("hashchange", () => {
      currentPage({ anchors });
    });
  });
</script>
