---
import IconAnchor from "@/components/IconAnchor.astro";
---

<h2>Linktree</h2>
<ul>
  <IconAnchor
    icon="tabler:brand-twitch"
    link="https://www.twitch.tv/caperactus/about"
    label="Twitch"
    text="Streams de Arte"
  />
</ul>

<style>
  h4 {
    text-align: center;
  }
  ul {
    display: grid;
    gap: 10px;
    margin-top: 30px;
  }
</style>
