---
interface Props {
  title: string;
  targetID: string;
}

const { title, targetID } = Astro.props;
---

<li>
  <button class={`popover-button`} popovertarget={targetID}>
    {title}
  </button>
</li>
<div id={targetID} popover>
  <slot />
</div>

<style>
  li {
    font-family: "Subjectivity", system-ui;
    font-weight: 500;
    padding: 5px;
    color: var(--blue-200);
    text-align: end;

    button {
      text-align: end;
      color: inherit;
      text-decoration: none;
      font-family: "Subjectivity", system-ui;
      border-radius: 5px;
      padding: 3px;
      cursor: pointer;
      text-decoration: none;
      background-color: transparent;
      border: none;

      &:focus,
      &:hover {
        outline: none;
        color: var(--pink-200);
        border-bottom: 2px solid var(--pink-200);
      }
    }
  }
  div[popover] {
    height: fit-content;
    max-height: 90dvh;
    overflow-y: auto;
    margin: auto;
    padding: var(--fs-m);
    border-radius: 10px;
    border: 1px solid white;
    background-color: oklch(0.5 0.06 300 / 70%);
    opacity: 0;
    transition:
      display 10s allow-discrete,
      opacity 10s;

    &::backdrop {
      background-color: oklch(0.3 0.1 300 / 60%);
    }
  }
  div[popover]:popover-open {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  @media screen and (width >= 768px) {
    li {
      --dark-pink: var(--pink-900);
      color: var(--blue-200);
      padding: 7px 30px;
      border-bottom-left-radius: 20% 50%;
      border-bottom-right-radius: 20% 50%;
      list-style: none;
      transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

      button {
        display: block;
        color: var(--blue-200);
        font-weight: 500;
        font-size: var(--fs-s);
        padding-bottom: 2px;
        transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:focus,
        &:hover {
          color: var(--pink-200);
          outline: none;
          border-bottom: 1px solid var(--pink-200);
          border-radius: 5px;
          transform: scale(1.1);
        }
      }
    }
  }
</style>
