---
import {Icon} from 'astro-icon/components'
import Project from './Project.astro'
---
<section class="wrapper">
  <h2>
    <Icon name="tabler:briefcase" width={30} height={30} />
    <span>Proyectos</span>
  </h2>
  <section class="projects-wrapper">
    <Project />
  </section>
</section>
<style>
  .wrapper {
    width: clamp(300px, 100%, 1024px);
    padding-inline: clamp(5px,5vw, 50px);
    display: grid;
    gap: 20px;
    height: fit-content;

    h2 {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  @media screen and (width >= 768px) {
    
    .projects-wrapper{
      padding-top: 30px;
    }
  }

  @media screen and (width >= 1440px) {
    .wrapper {
    width: clamp(1024px, 100%, 1280px);
    }
  }
</style>