---

---

<p>Ingles B2</p>
<p>Trabajo en Equipo</p>
<p>Adaptabilidad</p>
<p>Atenci贸n al detalle</p>
<p>Pensamiento critico</p>
<p>Gesti贸n de tiempo</p>
<p>Empatia</p>
<p>Comunicaci贸n efectiva</p>
<p>Resoluci贸n de problemas</p>
