---
import SkillGroup from "@/components/SkillGroup.astro";
import SoftSkillsData from "@/data/softSkills.json";
---

<header>
  <p>Estas son algunas de las habilidades que poseo categorizadas por grupo:</p>
</header>
<div class="groups-wrapper">
  {SoftSkillsData.map((group) => <SkillGroup {...group} />)}
</div>

<script>
  const skillsSection: HTMLElement | null = document.querySelector("#skills");
  const cards = skillsSection?.querySelectorAll(".card");
  cards?.forEach((card) => {
    card.addEventListener("click", () => {
      card.classList.toggle("is-flipped");
    });
  });
</script>
<style>
  .groups-wrapper {
    margin-block: 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
