---
import SkillGroup from "@/components/SkillGroup.astro";
import SoftSkillsData from "@/data/softSkills.json";
---

<header>
  <p>Estas son algunas de las habilidades que poseo categorizadas por grupo:</p>
</header>
<div class="groups-wrapper">
  {SoftSkillsData.map((group) => <SkillGroup {...group} />)}
</div>

<script>
  const skillsSection: HTMLElement | null = document.querySelector("#skills");
  const cards = skillsSection?.querySelectorAll(".card");
  cards?.forEach((card) => {
    card.addEventListener("click", () => {
      card.classList.toggle("is-flipped");
      const isFlipped = card.classList.contains("is-flipped");
      card.setAttribute("aria-pressed", isFlipped.toString());
    });
    card.addEventListener("keydown", (e) => {
      const event = e as KeyboardEvent;
      if (event.code === "Enter" || event.code === "Space") {
        event.preventDefault();
        card.classList.toggle("is-flipped");
        const isFlipped = card.classList.contains("is-flipped");
        card.setAttribute("aria-pressed", isFlipped.toString());
      }
    });
  });
</script>
<style>
  .groups-wrapper {
    margin-block: 3rem;
    display: grid;
    column-gap: 10px;
    row-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    container-type: inline-size;
    container-name: groups-wrapper;
  }
</style>
