---
import { Image, imageConfig } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  img_1: ImageMetadata;
  img_2: ImageMetadata;
}

const { img_1, img_2 } = Astro.props;
---

<div class="scene">
  <div class="flipImg__wrapper">
    <Image
      src={img_1}
      class="face face--front"
      alt={"Original Character Amalthea"}
      height={280}
      width={280}
    />
    <Image
      class="face face--back"
      height={280}
      width={280}
      alt={"Original Character Samantha"}
      src={img_2}
    />
  </div>
</div>

<style>
  .scene {
    perspective: 600px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow:
      0px 0px 15px 1px var(--blue-200),
      inset 0px 0px 25px 1px var(--blue-300);

    &:has(.is-flipped) {
      box-shadow:
        0px 0px 15px 1px var(--pink-400),
        inset 0px 0px 25px 1px var(--pink-500);
    }
  }
  .flipImg__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 700ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    transform-origin: center left;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
  .flipImg__wrapper.is-flipped {
    transform: translateX(100%) rotateY(180deg);
  }

  .face {
    position: absolute;
    backface-visibility: hidden;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    transition: scale 200ms ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }

  .face--front {
    background-color: transparent;
  }
  .face--back {
    background-color: transparent;
    transform: rotateY(180deg);
  }
</style>
<script></script>
