---
import IconAnchor from "@/components/atoms/IconAnchor.astro";
import { shiftLang } from "@/i18n/utils";

const linksArray = shiftLang(Astro.url);
---

<div>
  {
    linksArray.map(({ path, label, lang }) => (
      <IconAnchor
        link={path}
        label={label}
        text={label}
        target="_self"
        rel="follow"
        icon="tabler:language-hiragana"
        customClass="textXS"
        lang={lang}
      />
    ))
  }
</div>
<style>
  div {
    position: fixed;
    right: 0;
    top: 0;
    padding: var(--fs-xs);
    display: grid;
    place-items: center;
    gap: var(--fs-xs);
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
      opacity: 1;
    }

    a {
      --clr: var(--blue-100);
      --bg-clr: var(--blue-700);
    }
  }
</style>
