---
import NavItem from "@/components/atoms/DesktopNavItem.astro";
import Popover from "@/components/atoms/Popover.astro";
import Linktree from "@/components/molecules/Linktree.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { nav } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const { links, contact } = nav[lang];
const pathname = Astro.url.pathname;
---

<nav>
  <ul>
    {
      links.map((item) => (
        <NavItem
          title={item.title}
          link={item.link}
          currentPage={item.link === pathname}
        />
      ))
    }
    <Popover title={contact.title} targetID="linktree">
      <Linktree />
    </Popover>
  </ul>
</nav>

<style>
  nav {
    display: none;
    width: clamp(320px, 100%, 1024px);
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
  }
  @media screen and (min-width: 768px) {
    nav {
      display: block;
    }
  }
</style>
