---
import { Image } from "astro:assets";
import profileImg from "@/assets/images/profile_2.png";
import { hero } from "@/i18n/ui";

interface Props {
  lang: "es" | "en";
}

const { lang } = Astro.props;
---

<section>
  <div class="image-container">
    <Image src={profileImg} alt={"profile"} width={320} height={320} />
  </div>
  <div class="info-container">
    <div>
      <h1>Kevin Hincapie</h1>
      <strong>@CaperAsDev</strong>
    </div>
    <h2>{hero[lang].profile}</h2>
    <p>
      {hero[lang].bio}
    </p>
  </div>
</section>

<style>
  section {
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 5vw;

    .image-container {
      width: clamp(280px, 100%, 350px);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .info-container {
    display: grid;
    gap: 16px;

    strong {
      mix-blend-mode: color-burn;
      font-weight: 300;
    }
    h1 {
      margin-bottom: var(--fs-s);
    }
    h2 {
      mix-blend-mode: luminosity;
    }
    p {
      text-wrap: pretty;
    }
  }

  @media screen and (width >= 768px) {
    section {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 600px;
      max-width: 1024px;
      gap: clamp(50px, 10%, 100px);
      padding-block: 0;
    }
    .info-container {
      gap: 20px;
      max-width: 50%;
    }
    strong {
      font-size: var(--fs-s);
    }
  }

  @media screen and (width >= 1024px) {
    section {
      padding: 0px;
      gap: 0;
      justify-content: space-around;
    }
  }
  @media screen and (width >= 1440px) {
    section {
      max-width: 1280px;
      margin-block: 5vw;
    }
  }

  @media (600px < width <= 800px) {
    /* Media with range, between 600px and 800px this rules will be applied */
  }
</style>
