---
import Header from '@/components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--pink-50: #faf5f9;
		--pink-100: #f7ecf4;
		--pink-200: #f1d9ec;
		--pink-300: #e6bbdb;
		--pink-400: #d690c4;
		--pink-500: #c365a7;
		--pink-600: #b25090;
		--pink-700: #983e76;
		--pink-800: #7e3662;
		--pink-900: #861058;
		--pink-950: #3f182f;

		--mono-50: #f6f6f6;
		--mono-100: #e7e7e7;
		--mono-200: #d1d1d1;
		--mono-300: #b0b0b0;
		--mono-400: #888888;
		--mono-500: #6d6d6d;
		--mono-600: #5d5d5d;
		--mono-700: #4f4f4f;
		--mono-800: #454545;
		--mono-900: #3d3d3d;
		--mono-950: #0d0d0d;
    
		--blue-50: #ecffff;
		--blue-100: #cffcfe;
		--blue-200: #98f5fb;
		--blue-300: #68edf8;
		--blue-400: #23dbed;
		--blue-500: #07bed3;
		--blue-600: #0997b1;
		--blue-700: #0f798f;
		--blue-800: #166274;
		--blue-900: #165163;
		--blue-950: #083644;

    --accent_color: hsla(280 50% 20%);

	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: system-ui; sans-serif;
		background-color: var(--mono-950);
		background-size: 224px;
		color: var(--mono-200)
	}
</style>
